# Install Packages if Not Done Alread

In [1]:
# Installing Packages (Only do this first time)
using Pkg 
Pkg.add("BenchmarkTools")
Pkg.add("DataFrames")
Pkg.add("DelimitedFiles")
Pkg.add("CSV")
Pkg.add("XLSX")
Pkg.add("Downloads")

    Updating registry at `C:\Users\mgy0003\.julia\registries\General.toml`

   Resolving package versions...

  No Changes to `C:\Users\mgy0003\.julia\environments\v1.8\Project.toml`
  No Changes to `C:\Users\mgy0003\.julia\environments\v1.8\Manifest.toml`

   Resolving package versions...

  No Changes to `C:\Users\mgy0003\.julia\environments\v1.8\Project.toml`
  No Changes to `C:\Users\mgy0003\.julia\environments\v1.8\Manifest.toml`

   Resolving package versions...

  No Changes to `C:\Users\mgy0003\.julia\environments\v1.8\Project.toml`
  No Changes to `C:\Users\mgy0003\.julia\environments\v1.8\Manifest.toml`

   Resolving package versions...

  No Changes to `C:\Users\mgy0003\.julia\environments\v1.8\Project.toml`
  No Changes to `C:\Users\mgy0003\.julia\environments\v1.8\Manifest.toml`

   Resolving package versions...

  No Changes to `C:\Users\mgy0003\.julia\environments\v1.8\Project.toml`
  No Changes to `C:\Users\mgy0003\.julia\environments\v1.8\Manifest.toml`

   Resolving package versions...

  No Changes to `C:\Users\mgy0003\.julia\environments\v1.8\Project.toml`
  No Changes to `C:\Users\mgy0003\.julia\environments\v1.8\Manifest.toml`

# Import Packages

In [2]:
# Import Packages
using BenchmarkTools
using DataFrames
using DelimitedFiles
using CSV
using XLSX
using Downloads

# Get some data

In [3]:
# Get Some Data

P = Downloads.download("https://raw.githubusercontent.com/nassarhuda/easy_data/master/programming_languages.csv",
    "programming_languages.csv")

"programming_languages.csv"

# Read the Data

In [4]:
P,H = readdlm("programming_languages.csv",',';header=true);

In [5]:
P

73×2 Matrix{Any}:
 1951  "Regional Assembly Language"
 1952  "Autocode"
 1954  "IPL"
 1955  "FLOW-MATIC"
 1957  "FORTRAN"
 1957  "COMTRAN"
 1958  "LISP"
 1958  "ALGOL 58"
 1959  "FACT"
 1959  "COBOL"
    ⋮
 2007  "Clojure"
 2009  "Go"
 2010  "Rust"
 2011  "Dart"
 2011  "Kotlin"
 2011  "Red"
 2011  "Elixir"
 2012  "Julia"
 2014  "Swift"

In [6]:
H

1×2 Matrix{AbstractString}:
 "year"  "language"

In [7]:
# Write to a text file
writedlm("programming_languages_dlm.txt", P, '-')

# Using CSV Package

In [8]:
C = CSV.read("programming_languages.csv",DataFrame);

In [9]:
@show typeof(C)
C[1:10,:]
#C.year

typeof(C) = DataFrame

10×2 DataFrame
 Row │ year   language
     │ Int64  String31
─────┼───────────────────────────────────
   1 │  1951  Regional Assembly Language
   2 │  1952  Autocode
   3 │  1954  IPL
   4 │  1955  FLOW-MATIC
   5 │  1957  FORTRAN
   6 │  1957  COMTRAN
   7 │  1958  LISP
   8 │  1958  ALGOL 58
   9 │  1959  FACT
  10 │  1959  COBOL

In [10]:
# Column Names
names(C)

2-element Vector{String}:
 "year"
 "language"

In [11]:
# Time Differences
@btime P,H = readdlm("programming_languages.csv",',';header=true);
@btime C = CSV.read("programming_languages.csv",DataFrame);

  373.000 μs (319 allocations: 50.59 KiB)

  616.200 μs (445 allocations: 48.61 KiB)

In [12]:
# Write to csv file
CSV.write("programming_languages_CSV.csv", DataFrame(P, :auto))

"programming_languages_CSV.csv"

# Excel Files

In [13]:
T = XLSX.readdata("zillow_data_download_april2020.xlsx", #file name
    "Sale_counts_city", #sheet name
    "A1:F9" #cell range
    )

AssertionError: AssertionError: File zillow_data_download_april2020.xlsx not found.

In [14]:
G = XLSX.readtable("zillow_data_download_april2020.xlsx","Sale_counts_city");

AssertionError: AssertionError: File zillow_data_download_april2020.xlsx not found.

In [15]:
D = DataFrame(G)

UndefVarError: UndefVarError: G not defined

In [16]:
foods = ["apple", "cucumber", "tomato", "banana"]
calories = [105,47,22,105]
prices = [0.85,1.6,0.8,0.6,]
dataframe_calories = DataFrame(item=foods,calories=calories)
dataframe_prices = DataFrame(item=foods,price=prices)

4×2 DataFrame
 Row │ item      price
     │ String    Float64
─────┼───────────────────
   1 │ apple        0.85
   2 │ cucumber     1.6
   3 │ tomato       0.8
   4 │ banana       0.6

In [17]:
DF = innerjoin(dataframe_calories,dataframe_prices,on=:item)

4×3 DataFrame
 Row │ item      calories  price
     │ String    Int64     Float64
─────┼─────────────────────────────
   1 │ apple          105     0.85
   2 │ cucumber        47     1.6
   3 │ tomato          22     0.8
   4 │ banana         105     0.6

In [18]:
#we can also use the DataFrame constructor on a Matrix
DataFrame(T, :auto)

UndefVarError: UndefVarError: T not defined

In [19]:
# if you already have a dataframe: 
# XLSX.writetable("filename.xlsx", collect(DataFrames.eachcol(df)), DataFrames.names(df))
#XLSX.writetable("writefile_using_XLSX.xlsx",G)

# Importing Data from Other Formats

In [20]:
# Get Packages
#Pkg.add("JLD")
#Pkg.add("NPZ")
#Pkg.add("RData")
#Pkg.add("MAT")

In [21]:
using JLD
jld_data = JLD.load("data/mytempdata.jld")
save("mywrite.jld", "A", jld_data)

In [22]:
using NPZ
npz_data = npzread("data/mytempdata.npz")
npzwrite("data/mywrite.npz", npz_data)

In [23]:
#Pkg.add("RCall")

In [24]:
using RData
R_data = RData.load("data/mytempdata.rda")
using RCall
@rput R_data
R"save(R_data, file=\"data/mywrite.rda\")"

RObject{NilSxp}
NULL

In [25]:
using MAT
Matlab_data = matread("data/mytempdata.mat")
matwrite("data/mywrite.mat",Matlab_data)

In [26]:
@show typeof(jld_data)
@show typeof(npz_data)
@show typeof(R_data)
@show typeof(Matlab_data)
;

typeof(jld_data) = Dict{String, Any}
typeof(npz_data) = Matrix{Int64}
typeof(R_data) = Dict{String, Any}
typeof(Matlab_data) = Dict{String, Any}

In [27]:
jld_data

Dict{String, Any} with 1 entry:
  "tempdata" => [2 1446 … 1795 1890; 3 2926 … 3220 3405; 4 2910 … 2937 3224; 5 …

In [28]:
npz_data

4×5 Matrix{Int64}:
 2  1446  1705  1795  1890
 3  2926  3121  3220  3405
 4  2910  3022  2937  3224
 5  1479  1529  1582  1761

# Processing Data in Julia

In [29]:
P

73×2 Matrix{Any}:
 1951  "Regional Assembly Language"
 1952  "Autocode"
 1954  "IPL"
 1955  "FLOW-MATIC"
 1957  "FORTRAN"
 1957  "COMTRAN"
 1958  "LISP"
 1958  "ALGOL 58"
 1959  "FACT"
 1959  "COBOL"
    ⋮
 2007  "Clojure"
 2009  "Go"
 2010  "Rust"
 2011  "Dart"
 2011  "Kotlin"
 2011  "Red"
 2011  "Elixir"
 2012  "Julia"
 2014  "Swift"

In [30]:
# Q1: Which year was was a given language invented?
function year_created(P,language::String)
    loc = findfirst(P[:,2] .== language)
    return P[loc,1]
end
year_created(P,"Julia")

2012

In [31]:
year_created(P,"W")

ArgumentError: ArgumentError: invalid index: nothing of type Nothing

In [32]:
function year_created_handle_error(P,language::String)
    loc = findfirst(P[:,2] .== language)
    !isnothing(loc) && return P[loc,1]
    error("Error: Language not found.")
end
year_created_handle_error(P,"W")

ErrorException: Error: Language not found.

In [33]:
# Q2: How many languages were created in a given year?
function how_many_per_year(P,year::Int64)
    year_count = length(findall(P[:,1].==year))
    return year_count
end
how_many_per_year(P,2011)

4

In [34]:
P_df = C

73×2 DataFrame
 Row │ year   language
     │ Int64  String31
─────┼───────────────────────────────────
   1 │  1951  Regional Assembly Language
   2 │  1952  Autocode
   3 │  1954  IPL
   4 │  1955  FLOW-MATIC
   5 │  1957  FORTRAN
   6 │  1957  COMTRAN
   7 │  1958  LISP
   8 │  1958  ALGOL 58
  ⋮  │   ⋮                ⋮
  67 │  2010  Rust
  68 │  2011  Dart
  69 │  2011  Kotlin
  70 │  2011  Red
  71 │  2011  Elixir
  72 │  2012  Julia
  73 │  2014  Swift
                          58 rows omitted

In [35]:
# Q1: Which year was was a given language invented?
# it's a little more intuitive and you don't need to remember the column ids
function year_created(P_df,language::String)
    loc = findfirst(P_df.language .== language)
    return P_df.year[loc]
end
year_created(P_df,"Julia")

2012

In [36]:
year_created(P_df,"W")

ArgumentError: ArgumentError: invalid index: nothing of type Nothing

In [37]:
function year_created_handle_error(P_df,language::String)
    loc = findfirst(P_df.language .== language)
    !isnothing(loc) && return P_df.year[loc]
    error("Error: Language not found.")
end
year_created_handle_error(P_df,"W")

ErrorException: Error: Language not found.

In [38]:
# Q2: How many languages were created in a given year?
function how_many_per_year(P_df,year::Int64)
    year_count = length(findall(P_df.year.==year))
    return year_count
end
how_many_per_year(P_df,2011)

4

In [39]:
# A quick example to show how to build a dictionary
Dict([("A", 1), ("B", 2),(1,[1,2])])

Dict{Any, Any} with 3 entries:
  "B" => 2
  "A" => 1
  1   => [1, 2]

In [40]:
P_dictionary = Dict{Integer,Vector{String}}()

Dict{Integer, Vector{String}}()

In [41]:

# this is not going to work.
P_dictionary["julia"] = 7

MethodError: MethodError: Cannot `convert` an object of type String to an object of type Integer
Closest candidates are:
  convert(::Type{T}, !Matched::Ptr) where T<:Integer at pointer.jl:23
  convert(::Type{I}, !Matched::Type{F}) where {I<:Integer, F<:HDF5.Filters.Filter} at C:\Users\mgy0003\.julia\packages\HDF5\HtnQZ\src\filters\filters.jl:428
  convert(::Type{T}, !Matched::Base.TwicePrecision) where T<:Number at twiceprecision.jl:273
  ...

In [42]:
dict = Dict{Integer,Vector{String}}()
for i = 1:size(P,1)
    year,lang = P[i,:]
    if year in keys(dict)
        dict[year] = push!(dict[year],lang) 
        # note that push! is not our favorite thing to do in Julia, 
        # but we're focusing on correctness rather than speed here
    else
        dict[year] = [lang]
    end
end

In [43]:
# Though a smarter way to do this is:
curyear = P_df.year[1]
P_dictionary[curyear] = [P_df.language[1]]
for (i,nextyear) in enumerate(P_df.year[2:end])
    if nextyear == curyear
        #same key
        P_dictionary[curyear] = push!(P_dictionary[curyear],P_df.language[i+1])
        # note that push! is not our favorite thing to do in Julia, 
        # but we're focusing on correctness rather than speed here
    else
        curyear = nextyear
        P_dictionary[curyear] = [P_df.language[i+1]]
    end
end

In [44]:
length(keys(P_dictionary))

45

In [45]:
length(unique(P[:,1]))

45

In [46]:
# Q1: Which year was was a given language invented?
# now instead of looking in one long vector, we will look in many small vectors
function year_created(P_dictionary,language::String)
    keys_vec = collect(keys(P_dictionary))
    lookup = map(keyid -> findfirst(P_dictionary[keyid].==language),keys_vec)
    # now the lookup vector has `nothing` or a numeric value. We want to find the index of the numeric value.
    return keys_vec[findfirst((!isnothing).(lookup))]
end
year_created(P_dictionary,"Julia")

2012

In [47]:
# Q2: How many languages were created in a given year?
how_many_per_year(P_dictionary,year::Int64) = length(P_dictionary[year])
how_many_per_year(P_dictionary,2011)

4

# Missing Data

In [48]:
# assume there were missing values in our dataframe
P[1,1] = missing
P_df = DataFrame(year = P[:,1], language = P[:,2])

73×2 DataFrame
 Row │ year     language
     │ Any      Any
─────┼─────────────────────────────────────
   1 │ missing  Regional Assembly Language
   2 │ 1952     Autocode
   3 │ 1954     IPL
   4 │ 1955     FLOW-MATIC
   5 │ 1957     FORTRAN
   6 │ 1957     COMTRAN
   7 │ 1958     LISP
   8 │ 1958     ALGOL 58
  ⋮  │    ⋮                 ⋮
  67 │ 2010     Rust
  68 │ 2011     Dart
  69 │ 2011     Kotlin
  70 │ 2011     Red
  71 │ 2011     Elixir
  72 │ 2012     Julia
  73 │ 2014     Swift
                            58 rows omitted

In [49]:
dropmissing(P_df)

72×2 DataFrame
 Row │ year  language
     │ Any   Any
─────┼──────────────────
   1 │ 1952  Autocode
   2 │ 1954  IPL
   3 │ 1955  FLOW-MATIC
   4 │ 1957  FORTRAN
   5 │ 1957  COMTRAN
   6 │ 1958  LISP
   7 │ 1958  ALGOL 58
   8 │ 1959  FACT
  ⋮  │  ⋮        ⋮
  66 │ 2010  Rust
  67 │ 2011  Dart
  68 │ 2011  Kotlin
  69 │ 2011  Red
  70 │ 2011  Elixir
  71 │ 2012  Julia
  72 │ 2014  Swift
         57 rows omitted